{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome - OneMinutePitch</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>

<body>

<!-- Navbar block  -->
{% block navbar %} 
    {% include 'navbar.html' %} 
{% endblock %}


{% block content %} 

{% endblock %}

<!-- Footer block  -->
{% block footer %} 
    {% include 'footer.html' %} 
{% endblock %}


</body>

</html>
